workflows/appointment-management-crud.json
{
  "name": "Appointment Management - CRUD Operations",
  "nodes": [
    {
      "parameters": {
        "path": "appointment-create",
        "options": {}
      },
      "id": "webhook-create-appointment",
      "name": "Webhook - Crear Cita",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 200],
      "webhookId": "appointment-create"
    },
    {
      "parameters": {
        "path": "appointment-update",
        "options": {}
      },
      "id": "webhook-update-appointment",
      "name": "Webhook - Actualizar Cita", 
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "appointment-update"
    },
    {
      "parameters": {
        "path": "appointment-delete",
        "options": {}
      },
      "id": "webhook-delete-appointment",
      "name": "Webhook - Eliminar Cita",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 600],
      "webhookId": "appointment-delete"
    },
    {
      "parameters": {
        "jsCode": "// Validar datos de cita\nconst appointmentData = $json;\n\nconst requiredFields = ['clientName', 'socialWork', 'phone', 'date', 'time'];\nconst missingFields = requiredFields.filter(field => !appointmentData[field]);\n\nif (missingFields.length > 0) {\n  throw new Error(`Faltan campos requeridos: ${missingFields.join(', ')}`);\n}\n\n// Validar formato de fecha\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!dateRegex.test(appointmentData.date)) {\n  throw new Error('Formato de fecha inválido (YYYY-MM-DD)');\n}\n\n// Validar formato de hora\nconst timeRegex = /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/;\nif (!timeRegex.test(appointmentData.time)) {\n  throw new Error('Formato de hora inválido (HH:MM)');\n}\n\n// Validar que la fecha no sea en el pasado\nconst appointmentDate = new Date(`${appointmentData.date}T${appointmentData.time}`);\nconst now = new Date();\nif (appointmentDate < now) {\n  throw new Error('No se pueden crear citas en el pasado');\n}\n\nreturn [{ json: appointmentData }];"
      },
      "id": "validate-appointment-data",
      "name": "Validar datos de cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "={{$env.CITAMEDICA_API_URL}}/appointments",
        "sendBody": true,
        "specifyHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": false,
        "sendHeaders": true,
        "contentType": "json",
        "body": "={{JSON.stringify($json)}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-appointment-api",
      "name": "Crear cita en API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{$env.CITAMEDICA_API_URL}}/appointments/{{$json.appointmentId}}",
        "sendBody": true,
        "specifyHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "requestMethod": "PUT",
        "contentType": "json",
        "body": "={{JSON.stringify($json.updateData)}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-appointment-api",
      "name": "Actualizar cita en API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "={{$env.CITAMEDICA_API_URL}}/appointments/{{$json.appointmentId}}",
        "requestMethod": "DELETE",
        "options": {
          "timeout": 30000
        }
      },
      "id": "delete-appointment-api",
      "name": "Eliminar cita en API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-appointment-created",
      "name": "¿Cita creada exitosamente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-appointment-updated",
      "name": "¿Cita actualizada exitosamente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-appointment-deleted",
      "name": "¿Cita eliminada exitosamente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "jsCode": "// Crear mensaje de confirmación de cita creada\nconst appointmentData = $json;\n\nconst confirmationMessage = `✅ *CITA CONFIRMADA*\\n\\n` +\n  `Tu cita médica ha sido agendada exitosamente:\\n\\n` +\n  `👤 **Paciente:** ${appointmentData.clientName}\\n` +\n  `🏥 **Obra Social:** ${appointmentData.socialWork}\\n` +\n  `📅 **Fecha:** ${new Date(appointmentData.date).toLocaleDateString('es-AR')}\\n` +\n  `⏰ **Horario:** ${appointmentData.time}\\n` +\n  `🆔 **ID Cita:** ${appointmentData._id}\\n\\n` +\n  `*Recordatorio:* Llega 10 minutos antes de tu cita.\\n\\n` +\n  `¡Te esperamos! 🏥`;\n\nreturn [{\n  json: {\n    phone: appointmentData.phone,\n    message: confirmationMessage,\n    appointmentId: appointmentData._id,\n    type: 'appointment_created'\n  }\n}];"
      },
      "id": "create-confirmation-message",
      "name": "Crear mensaje de confirmación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "jsCode": "// Crear mensaje de actualización\nconst appointmentData = $json;\n\nconst updateMessage = `📝 *CITA ACTUALIZADA*\\n\\n` +\n  `Tu cita médica ha sido modificada:\\n\\n` +\n  `👤 **Paciente:** ${appointmentData.clientName}\\n` +\n  `🏥 **Obra Social:** ${appointmentData.socialWork}\\n` +\n  `📅 **Nueva Fecha:** ${new Date(appointmentData.date).toLocaleDateString('es-AR')}\\n` +\n  `⏰ **Nuevo Horario:** ${appointmentData.time}\\n` +\n  `🆔 **ID Cita:** ${appointmentData._id}\\n\\n` +\n  `*Recordatorio:* Llega 10 minutos antes de tu cita.\\n\\n` +\n  `¡Te esperamos! 🏥`;\n\nreturn [{\n  json: {\n    phone: appointmentData.phone,\n    message: updateMessage,\n    appointmentId: appointmentData._id,\n    type: 'appointment_updated'\n  }\n}];"
      },
      "id": "create-update-message",
      "name": "Crear mensaje de actualización",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Crear mensaje de cancelación\nconst deleteData = $('Webhook - Eliminar Cita').first().json;\n\nconst cancellationMessage = `❌ *CITA CANCELADA*\\n\\n` +\n  `Tu cita médica ha sido cancelada exitosamente.\\n\\n` +\n  `Si necesitas reagendar, por favor contacta nuevamente.\\n\\n` +\n  `¡Gracias por avisarnos! 🏥`;\n\nreturn [{\n  json: {\n    phone: deleteData.phone,\n    message: cancellationMessage,\n    appointmentId: deleteData.appointmentId,\n    type: 'appointment_cancelled'\n  }\n}];"
      },
      "id": "create-cancellation-message",
      "name": "Crear mensaje de cancelación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE_NAME}}",
        "sendBody": true,
        "specifyHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "contentType": "json",
        "body": "={\n  \"number\": \"{{$json.phone}}\",\n  \"text\": \"{{$json.message}}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-notification-whatsapp",
      "name": "Enviar notificación WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Programar recordatorio de cita\nconst appointmentData = $json;\n\nif (appointmentData.type === 'appointment_created') {\n  const appointmentDateTime = new Date(`${appointmentData.date}T${appointmentData.time}`);\n  const reminderTime = new Date(appointmentDateTime.getTime() - (2 * 60 * 60 * 1000)); // 2 horas antes\n  \n  return [{\n    json: {\n      appointmentId: appointmentData._id,\n      patientPhone: appointmentData.phone,\n      patientName: appointmentData.clientName,\n      appointmentDate: appointmentData.date,\n      appointmentTime: appointmentData.time,\n      reminderTime: reminderTime.toISOString(),\n      type: 'schedule_reminder'\n    }\n  }];\n}\n\nreturn [];"
      },
      "id": "schedule-reminder",
      "name": "Programar recordatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/webhook/reminder-trigger",
        "sendBody": true,
        "contentType": "json",
        "body": "={{JSON.stringify($json)}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "trigger-reminder-workflow",
      "name": "Activar workflow de recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 700]
    },
    {
      "parameters": {
        "jsCode": "// Manejar errores y enviar notificación\nconst error = $json;\nconst webhookData = $('Webhook - Crear Cita').first().json;\n\nconst errorMessage = `❌ *ERROR AL PROCESAR CITA*\\n\\n` +\n  `Lo siento, ocurrió un error al procesar tu solicitud:\\n\\n` +\n  `**Error:** ${error.message || 'Error desconocido'}\\n\\n` +\n  `Por favor, intenta de nuevo o contacta directamente con la clínica.\\n\\n` +\n  `🏥 *Clínica Médica*`;\n\nreturn [{\n  json: {\n    phone: webhookData.phone,\n    message: errorMessage,\n    type: 'error_notification'\n  }\n}];"
      },
      "id": "handle-error",
      "name": "Manejar error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 900]
    }
  ],
  "connections": {
    "Webhook - Crear Cita": {
      "main": [
        [
          {
            "node": "Validar datos de cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Actualizar Cita": {
      "main": [
        [
          {
            "node": "Actualizar cita en API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Eliminar Cita": {
      "main": [
        [
          {
            "node": "Eliminar cita en API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar datos de cita": {
      "main": [
        [
          {
            "node": "Crear cita en API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear cita en API": {
      "main": [
        [
          {
            "node": "¿Cita creada exitosamente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar cita en API": {
      "main": [
        [
          {
            "node": "¿Cita actualizada exitosamente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar cita en API": {
      "main": [
        [
          {
            "node": "¿Cita eliminada exitosamente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cita creada exitosamente?": {
      "main": [
        [
          {
            "node": "Crear mensaje de confirmación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Programar recordatorio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cita actualizada exitosamente?": {
      "main": [
        [
          {
            "node": "Crear mensaje de actualización",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cita eliminada exitosamente?": {
      "main": [
        [
          {
            "node": "Crear mensaje de cancelación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear mensaje de confirmación": {
      "main": [
        [
          {
            "node": "Enviar notificación WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear mensaje de actualización": {
      "main": [
        [
          {
            "node": "Enviar notificación WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear mensaje de cancelación": {
      "main": [
        [
          {
            "node": "Enviar notificación WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programar recordatorio": {
      "main": [
        [
          {
            "node": "Activar workflow de recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar error": {
      "main": [
        [
          {
            "node": "Enviar notificación WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Argentina/Buenos_Aires",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "appointments",
      "name": "Appointments"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "crud",
      "name": "CRUD"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}